
nav{
    max-width: 100%;
    margin: 0 auto;
    padding: 10%;
    margin-right: 0%;
    font-size: 15px;
  }

  nav ul li{
      display: inline-block;
      list-style: none;
  }
  nav>ul>li>a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    list-style: none;
    color: white;
    background-color:black;
    }
    nav>ul>li>a:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
        background: rgba(221, 109, 35, 0.678);
        color: rgba(0, 35, 122, 0.7);
        }
        .home{
            background-repeat:no-repeat;
            background-size:cover;
            width: 130vh;
            height:130vh;
            text-align: center;
            padding-bottom: 0;
            color:black;
        }
img{
    height:200px;
    width:300px;
    margin:0 10px 0 0;
    border-radius:25px;
    }

    .heading{
        text-align: center;
        font-family: 'Nova Square', cursive;
    }
#services{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    letter-spacing:3px;
    font-family: 'Bad Script', cursive;
    padding-top:0;
}

.studies{
    width:100%;
    padding:20%;
    margin-left:20%;
    margin-right:20%;
    display:flex;
    font-size:30px;
}
body{
    background-color: cornflowerblue;
    font-size: 30px;
    font-family: 'Nova Square', cursive;
    color:white;
    overflow: hidden;
}
.footer{
    background-color: coral;
    text-align:center;
    font-family: 'Bilbo Swash Caps', cursive;
}
.case studies{
    font-size: 30px;
}
.management{
    padding:20px;
}
.home{
padding-left: 80%;
padding-bottom: 0%;
background-image: url("https://bit.ly/2X2GXYS");
}
#process{
    display:flex;
}

#About{
    align-items: center;
    text-align: center;
}

#process{
    display: flex;
    justify-content: space-around;
}

#process_heading{
    align-items: center;
    text-align: center;
}
/*studies*/


#studies{
    width: 100%;
    height: 70%;
    padding: 20%;
    background-color: aquamarine;
}

/*services*/

#services{
    width: 100%;
    height:70%;
    display:flex;
}

/*warehouse*/
#warehouse{
font-size: 30p;
background-color: blueviolet;
}

/*gallery*/

#gallery{
    display: flex;
}

.gallery{
    display: flex;
    justify-content: space-around;
}
/*about*/

#about{
    background-image: url("https://bit.ly/2Qd3Oj0");
}
@media screen and(max-width:1024px){
    *{
        width:50%;
    }
}